extends toplevel 
block content 
    h3= title 

    div(class="error", id="errorMessage") 

    script(src='/scripts/login.js')

    label(class="label row1", for="email") E-Mail: 
    input(type="email", id="email", name="email", value="admin@abc.com", class="control row1")

    label(class="label row2", for="password") Password: 
    input(type="text", id="password", name="password", class="control row2", style="width: 500px")

    button(class="control row3", onClick="handleLogin()") Sign In 